<div class="movie-container">
  <div class="row">
    <div class="col-md-6 col-sm-12">

      <% if @premiere.image.catalog.url.nil? %>
          <%=image_tag("https://placehold.it/320x480?text=IMAGE",
                       class: "img-responsive center-block",
                       alt: "Poster de #{@premiere.title}")%>
      <% else %>
          <%=image_tag( @premiere.image.url,
                        class: "img-responsive center-block",
                        alt: "Poster de #{@premiere.title}")%>
      <% end %>
    </div>
    <div class="col-md-6 col-sm-12 movie-info">
      <h2><%= @premiere.title %></h2>
      <h4><%= @premiere.release_date %></h4>
      <p><%= @premiere.description %></p>
      <%= button_to "Rentar", make_a_rent_path + "/#{@premiere.slug}", method: 'get' %>

    </div>


  </div>
</div>