
      <% if @item.image.catalog.url.nil? %>
          <%=image_tag("https://placehold.it/320x480?text=IMAGE",
                       class: "img-responsive center-block",
                       alt: "Poster de #{@item.title}")%>
      <% else %>
          <%=image_tag( @item.image.url,
                        class: "img-responsive center-block",
                        alt: "Poster de #{@item.title}")%>
      <% end %>
    </div>
    <div class="col-md-6 col-sm-12 item-info">
      <h2><%= @item.title %></h2>
      <h4><%= @item.formatted_release_date %></h4>
      <p><%= @item.description %></p>
      <%= button_to "Rentar", make_a_rent_path + "/#{@item.slug}", method: 'get' %>

    </div>